.overlay {
	justify-content: center;
    align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	display:none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 400px;
	height: 490px;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 10px;
	background-image: url(./images/pokeball-400x490.jpg);
	position: relative;
    animation-name: modalIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
	
}
@keyframes modalIn
	{
		from
		{
			transform:translateY(-1000px)
		}
		40%
		{
			transform: translateY(10px);
		}
		60%
		{
			transform: translateY(-10px);
		}
		80%
		{
			transform: translateY(5px);
		}
		to
		{
			transform: translateY(0);
		}
}
@keyframes modalOut
    {
        from
        {
            transform: translateY(0);
        }
        40%
        {
            transform: translateY(10px);
        }
        60%
        {
            transform: translateY(-10px);
        }
        80%
        {
            transform: translateY(5px);
        }
        to
        {
            transform:translateY(-1000px)
        }
    }
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
.buttton-container {
	display: flex;
}
.modal__button {
	width: 100px;
	height: 40px;
	font-size: 1.1rem;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	border: none;
	transition: 0.3s;
	margin: 0 1rem;
}
.modal__button--next {
	background-color: #008000ad;
}
.modal__button--next:hover {
	background-color: green;
}
.modal__button--before {
	background: #ff0000a8;
}
.modal__button--before:hover {
	background: red;
}
.modal__image {

}
.name {
	width: 150px;
    height: 30px;
	font-size: 1.2em;
	color: black;
} 